# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Data
prices.json

# Jupyter
.ipynb_checkpoints/

# Others
*.log

# Node.js
node_modules/
npm-debug.log

# Build artifacts
dist/
build/
*.spec